body {
  background-color: #000;
  background-image: url('/site5/asssets/tile2.gif');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: var(--tile-size);
  min-height: 100vh;
  overflow: hidden; /*no scroll*/
}

.center-wrapper {
/*position*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position:fixed;

  scale: 2;
}

.dancediv{
  /*position*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position:fixed;
 
  /*flexbox*/
  display:flex;
  justify-content: center;
  align-items: center;

  z-index: 800;

  scale: 0.4;
}

.dance{
  /*prevent image from bursting out of screen when zooming in*/
  max-width: 90vw;
  max-height: 90vh;

  /*original aspect ratio*/
  object-fit: contain;
}
.island-wrapper{


  top: 0;
  left: 0;
  width: 180vw;
  height: 220vh;
  position:fixed;

  z-index: 10;
  scale: 0.5;
  opacity: 0.7;
}

.island{

  /*original aspect ratio*/
  object-fit: contain;
}

